.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navBarContainer {
    max-width: 1010px;
    margin: auto;
}

.navBarBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.6rem 0rem;
}


.logoBlock img {
    width: auto;
    height: 6.4rem;
}

.links {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 3rem;
}

.links li {
    list-style-type: none;
}

.links li a {
    font-family: var(--ffSecondary);
    font-size: 1.8rem;
    color: white;
    font-weight: var(--fw-regular);
}

.linksBlock button {
    background-color: #3675f4;
    font-family: var(--ffSecondary);
    color: var(--lightColor);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1rem;

    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding: 1.8rem 2.9rem;
    transition: background-color 0.2s ease;
}

.linksBlock button:hover {
    background-color: #0a58ca;
    color: var(--lightColor);
    transition: background-color 0.2s ease;
}

/* for sticky  - js */

.navBar.sticky {
    background: white;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
}

.navBar.sticky a {
    color: #111;
}

.navBar.hamburgerIcon i {
    color: #000000;
    /* border: 1.5px solid #000000; */
    /* padding: 0.25rem 0.75rem 0.1rem 0.75rem; */

}

/* responsive navbar - desktop code */

.linksBlock #iconToggle {
    cursor: pointer;
    /* for understading display: none; is given at the end of CSS*/
    display: none;
}

.linksBlock .hamburgerIcon {
    /* background-color: crimson; */
    color: #ffffff;
    font-size: 2.5rem;
    /* border: 1.5px solid #ffffff; */
    padding: 0.25rem 0.75rem 0.1rem;
    border-radius: 0.25rem;
    /* for understading display: none; is given at the end of CSS*/
    display: none;
}


/* responsive code */

@media (max-width :576px) {

    .logoBlock img {
        width: auto;
        height: 4.4rem;
        margin-left: 2rem;
    }

    .navBarBody {
        display: grid;
        grid-template-columns: 1fr;
    }


    .linksBlock .hamburgerIcon {
        display: block;
        /* Show the hamburger icon on small devices */
        position: absolute;
        top: 2rem;
        right: 3rem;
        /* cursor: pointer; */

    }


    .linksBlock{
        /* position: absolute;
        top: 5rem;
        right: 0;
        width: 50%; */
    }

    .links {
        flex-direction: column;
        display: none;
        align-items: end;
        background-color: #7f8cca;
        padding: 2rem 2rem;
        border-radius: 2rem;
    }

    /* equal to display: Block (show or Hide) */
    #iconToggle:checked~.links {
        display: flex;
    }

}