* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --primaryColor: var(--primaryColor);
    --secondaryColor: #3675f4;
    --darkColor: #000000;
    --lightColor: #ffffff;
    --iconColor: #6f42c1;
    --fw-regular: 400;
    --font-size-h2: 4.4rem;
    --regularFont: 1.8rem;
    --fw-bold: 800;
    --lineHeight: 1.3;
    --ffPrimary: 'Co Headline', sans-serif;
    --ffSecondary: "Inter", sans-serif;
}

input,
textarea,
button {
    font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* :::::SCROLL BAR CODE S T A R T S::::: */

/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 1.5rem;
    height: 10px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #e3e4e6;
    border-radius: 5px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #cececf;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
    background: #b9b9ba;
}

/* :::::SCROLL BAR CODE E N D S::::: */

/* project standard classes Starts */

.screenSize {
    max-width: 1010px;
    margin: auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.dflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dflex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

/* project standard classes Ends */

/* :::PARENT CONTAINER Code Starts here::: */

header {
    background-image: url(./assets/images/hero-bg-1x.5a334a81.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
}

footer {
    background: linear-gradient(135deg, #062c79, #841875);
    width: 100%;
    height: auto;
}

/* :::PARENT CONTAINER Code Ends here::: */


/* :::HEADER Code Starts hereE::: */
/* Navbar code */

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navBarBody {
    padding: 1.6rem 0rem;
}

.logoBlock img {
    width: auto;
    height: 6.4rem;
}

.links {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 3rem;
}

.links li {
    list-style-type: none;
}

.links li a {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--lightColor);
    font-weight: var(--fw-regular);
}

.linksBlock button {
    background-color: var(--secondaryColor);
    font-family: var(--ffSecondary);
    color: var(--lightColor);
    font-size: 1.6rem;
    font-weight: var(--fw-regular)r;
    line-height: 1;
    letter-spacing: 0.1rem;

    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding: 1.8rem 2.9rem;
    transition: background-color 0.2s ease;
}

.linksBlock button:hover {
    background-color: var(--secondaryColor);
    color: var(--lightColor);
    transition: background-color 0.2s ease;
}


/* for sticky  - js */

.navBar.sticky {
    background: var(--lightColor);
}

.navBar.sticky a {
    color: var(--darkColor);
}

.navBar.hamburgerIcon i {
    color: var(--darkColor);
}

/* responsive navbar - desktop code */

.linksBlock #iconToggle {
    cursor: pointer;
    display: none;
}

.linksBlock .hamburgerIcon {
    color: var(--lightColor);
    font-size: 2.5rem;
    padding: 0.25rem 0.75rem 0.1rem;
    border-radius: 0.25rem;
    display: none;
}

/* Navbar code */

/* Hero Section code */
.heroSectioncontainer {
    padding-top: 18rem;
    padding-bottom: 11rem;
}

.heroSection {
    background-image: url(./assets/images/du_Pay_Gold_Coin_Web_Banners_V3_Home_Banner_1054x1284_EN_50_9d8f895182.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 47%;
    padding: 7rem 0rem;
}

.heroSectionBlockOne {
    width: 50%;
}

.heroSectionBlockOne h1 {
    font-family: var(--ffPrimary);
    font-weight: 900;
    font-size: 5.2rem;
    color: var(--lightColor);
    line-height: 1.2;
    margin-bottom: 2rem;
}

.heroSectionBlockOne p {
    font-family: var(--ffPrimary);
    font-size: 3.2rem;
    color: var(--lightColor);
    font-weight: 200;
    line-height: 1.2;
    /* margin: 2rem 0rem; */
}

.qrcard {
    border-radius: 1.4rem;
    border: 1px solid hsla(0, 0%, 100%, .25);
    background: hsla(0, 0%, 100%, .02);
    box-shadow: 1px 3px 11.1px 0 rgba(0, 0, 0, .08);
    width: 80%;
    margin-top: 2rem;
}

.qrcardHead {
    padding-left: 4rem;
}

.qrcardHead h4 {
    font-family: var(--ffPrimary);
    font-size: 1.6rem;
    color: var(--lightColor);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.qrcardHead p {
    font-family: var(--ffSecondary);
    font-size: 1.3rem;
    color: var(--lightColor);
    font-weight: 300;
    /* line-height: 1; */
}

.qrcardBody img {
    padding: 5px;
    width: auto;
    height: 11rem;
}

.heroSectionBlockOne button {
    display: none;
}

/* Hero Section code */

/* :::HEADER Code Ends here::: */

/* :::MAIN Code Starts here::: */

/* offer code */
.offer {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.offerHeadingBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    color: var(--primaryColor);
    font-weight: var(--fw-bold);
    margin-bottom: 9rem;
}

.offerImageBlock img {
    width: 100%;
    height: 1/1;
    padding: 0.5rem;
}

.offerContentBlock {
    background: linear-gradient(115deg, #f3fbfd, #fdf5fc 98.31%);
    border-radius: 3rem;
    padding: 5rem 0rem;
    padding-left: 8rem;
    padding-right: 4rem;
}

.offerContentBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    color: var(--primaryColor);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}


.offerContentBlock p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
}

.offerContentBlock i {
    font-size: 5rem;
    color: var(--iconColor);
}

/* offer code */

/* instant code */
.instantBody {
    background: linear-gradient(115deg, #f3fbfd, #fdf5fc 98.31%);
    border-radius: 3rem;
}

.instantContentBlock {
    padding: 4rem 0rem;
    padding-left: 6.5rem;
    padding-right: 6rem;
}

.instantContentBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    color: var(--primaryColor);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}


.instantContentBlock p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
}

.instantContentBlock i {
    font-size: 5rem;
    color: var(--iconColor);
}

.instantImageBlock img {
    width: 100%;
    height: 1/1;
    padding: 0.5rem;
}


/* instant code */

/* Payment code */
.payment {
    padding-top: 1.5rem;
    padding-bottom: 6rem;
}

.paymentImageBlock img {
    width: 100%;
    height: 1/1;
    padding: 0.5rem;
}

.paymentContentBlock {
    background: linear-gradient(115deg, #f3fbfd, #fdf5fc 98.31%);
    border-radius: 3rem;
    padding: 5rem 0rem;
    padding-left: 8rem;
    padding-right: 4rem;
}

.paymentContentBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    color: var(--primaryColor);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.paymentContentBlock p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
}

.paymentContentBlock i {
    font-size: 5rem;
    color: var(--iconColor);
}

/* Payment code */

/* way code */
.way {
    background: url(./assets/images/card_ltr_1_285867971f.png), linear-gradient(90deg, #4ba6c9 39%, #6c40b7 76.5%, #a436ae 99.45%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    /* padding: 10rem 0rem; */
}

.wayBody {
    padding-top: 4rem;
    padding-bottom: 11rem;
    
}

.wayBlock {
    width: 40%;
    height: 100%;
}

.wayBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    color: var(--lightColor);
    font-weight: var(--fw-bold);
    line-height: var(--lineHeight);
    margin-bottom: 3rem;
}

.wayBlock p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--lightColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
}

.wayCards {
    row-gap: 1.5rem;
    column-gap: 2.5rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wayCardone {
    background: hsla(0, 0%, 100%, .21);
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;
}

/* way code */

/* trust code */

.trust {
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.trustBody {
    gap: 3rem;
}

.trustContentBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    color: var(--primaryColor);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-bottom: 3rem;
}

.trustContentBlock p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
}

.trustImageBlock img {
    width: auto;
    height: 45rem;
    padding: 1rem;
}

/* trust code */

/* features code */
.features {
    padding: 3rem 0rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.featureBody {
    gap: 4.5rem;
}

.featureBlockone {
    gap: 1.5rem;
}

.featureBlockone i {
    color: #e240c8;
    font-size: 4rem;
}

.featureBlockone p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
}

.featureBlocktwo {
    gap: 1rem;
}

.featureBlocktwo i {
    color: #6f42c1;
    font-size: 4rem;
}

.featureBlocktwo p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);

}

.featureBlockthree {
    gap: 1rem;
}

.featureBlockthree i {
    color: #0dcaf0;
    font-size: 4rem;
}

.featureBlockthree p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);

}

/* features code */

/* getStarted code */

.getStarted {
    padding: 8rem 0rem;
}

.getStartedContentBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    color: var(--primaryColor);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.getStartedContentBlock li {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
    margin-left: 3rem;
}

.getStartedContentBlock p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
    margin-top: 3rem;

}

.getStartedImageBlock img {
    width: 100%;
    height: 1/1;
}

/* getStarted code */

/* flags code */

.flags {
    padding: 3rem 0rem;
}

.flagsBlock img {
    width: 100%;
    aspect-ratio: 3/2      ;
}

/* flags code */

/* knowMore code */
.knowMore {
    padding: 6.5rem 0rem;
}

.knowMoreBlock h2 {
    text-align: center;
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    color: var(--primaryColor);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-bottom: 7rem;
}

.knowMoreBlock h3 {
    font-family: var(--ffPrimary);
    font-size: 3rem;
    color: var(--primaryColor);
    font-weight: var(--fw-bold);
    line-height: 1;
    text-align: start;
    margin-bottom: 3rem;
}

.knowMoreContentBody {
    gap: 2rem;
}

.knowMoreBlockOne {
    background: linear-gradient(115deg, #f3fbfd, #fdf5fc 98.31%);
    border-radius: 1.5rem;
    padding: 6.2rem 3rem;
    cursor: pointer;
}

.knowMoreBlockOne i {
    font-size: 3rem;
    color: var(--iconColor);
    margin-bottom: 3rem;
}

.knowMoreBlockOne h4 {
    font-family: var(--ffPrimary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-bottom: 2rem;
}

.knowMoreBlockOne p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
}

/* knowMore code */

/* join code */
.join {
    padding: 10rem 0rem;
    background: linear-gradient(115deg, #f3fbfd, #fdf5fc 98.31%);

}

.joinContainer {
    max-width: 600px;
    margin: auto;
}


.joinBlock h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    color: var(--primaryColor);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-bottom: 3rem;
    text-align: center;
}

.joinBlock p {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--primaryColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
    margin-top: 3rem;
    text-align: center;
}

/* join code */
/* :::MAIN Code Ends here::: */

/* :::FOOTER Code Starts here::: */
/* footer code */
.footer {
    /* padding: 5rem 0rem; */
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.footerBody {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding-bottom: 5rem;
    border-bottom: 1px solid gray;
}


.footerLogoBlock img {
    width: auto;
    height: 6.6rem;
}

.footerHeading span {
    border: 1px solid var(--lightColor);
    border-radius: 2rem;
    padding-bottom: 1rem;
    padding: 0rem 1rem;

}

.footerHeading h2 {
    font-family: var(--ffPrimary);
    font-size: var(--font-size-h2);
    color: var(--lightColor);
    font-weight: 200;
}

.footerBodyTwo {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    width: 50%;
    padding-top: 6rem;
    padding-bottom: 1rem;
}

.footerLinksBlock li {
    list-style-type: none;
    margin-bottom: 2rem;
}

.footerLinksBlock a {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--lightColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
}

.footerBodyThree {
    display: grid;
    grid-template-columns: 2.3fr 2.7fr;
}

.footerLinksBlockTwo li {
    list-style-type: none;
    margin-bottom: 2rem;
}

.footerLinksBlockTwo a {
    font-family: var(--ffSecondary);
    font-size: var(--regularFont);
    color: var(--lightColor);
    font-weight: var(--fw-regular)r;
    line-height: var(--lineHeight);
}

.footersocialBlock {
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 2rem;
}

.footersocialBlock i {
    font-size: 3rem;
    color: var(--lightColor);
}

.footerplayheading h4 {
    font-family: var(--ffPrimary);
    font-size: 3.2rem;
    color: var(--lightColor);
    font-weight: 200;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.footerplayimage {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footerplayimage img {
    width: auto;
    height: 6rem;
}



/* footer code */

/* :::FOOTER Code Ends here::: */


/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

/* for Responsive Target the ROW Code (display:grid) */

/* Small devices (landscape phones, upto 576px and below) */
/* @media (width <=576px) */
@media (max-width: 576px) {

    :root {
        --font-size-h2: 2rem;
    }

    .grid-2,
    .grid-3 {
        grid-template-columns: 1fr;
    }

    /* navbar code */
    .logoBlock img {
        width: auto;
        height: 4.4rem;
        margin-left: 2rem;
    }



    .linksBlock .hamburgerIcon {
        display: block;
        position: absolute;
        top: 2rem;
        right: 3rem;
    }

    .links {
        flex-direction: column;
        display: none;
        align-items: end;
        background-color: #7f8cca;
        padding: 2rem 2rem;
        border-radius: 2rem;
    }

    #iconToggle:checked~.links {
        display: flex;
    }

    /* navbar code */

    .heroSection {
        /* padding: 18rem 0rem; */
        background-image: none;
    }

    header {
        background-position: left top;
    }

    .heroSectionBlockOne h1 {
        font-size: 3rem;
    }

    .heroSectionBlockOne p {
        font-size: 2.4rem;
    }

    .heroSectionBlockOne {
        width: 100%;
        padding: 0rem 3rem;
    }

    .heroSectionBlockTwo {
        display: none;
    }

    .heroSectionBlockOne p {
        margin-bottom: 3rem;
    }

    .qrcard {
        display: none;
    }

    .heroSectionBlockOne button {
        display: block;
    }

    .heroSectionBlockOne button {
        background-color: #3675f4;
        font-family: var(--ffSecondary);
        color: var(--lightColor);
        font-size: 1.6rem;
        font-weight: var(--fw-regular)r;
        line-height: 1;
        letter-spacing: 0.1rem;

        cursor: pointer;
        border: none;
        border-radius: 1rem;
        padding: 1.8rem 2.9rem;
        transition: background-color 0.2s ease;
    }

    .heroSectionBlockOne button:hover {
        background-color: #0a58ca;
        color: var(--lightColor);
        transition: background-color 0.2s ease;
    }

    /* offer code */

    .offerHeadingBlock h2 {
        margin-bottom: 2rem;
    }

    .offerContainer {
        padding: 0rem 5rem;
    }

    /* offer code */

    .instantContainer {
        padding: 0rem 5rem;
    }

    .paymentContainer {
        padding: 0rem 5rem;
    }

    .wayContainer{
        padding: 0rem 5rem;

    }
    
    .trustContainer{
        padding: 0rem 5rem;
    }

    .featureContainer{
        padding: 0rem 5rem;
        
    }

    .getStartedContainer{
        padding: 0rem 5rem;

    }

    .knowMoreContainer{
        padding: 0rem 5rem;
    }

    .footerContainer{
        padding: 0rem 5rem;
    }
    .wayBlock {
        width: 100%;
    }

    .trustImageBlock{
        display: none;
    }

    .knowMoreBlock h3{
        font-size: 3rem;
    }

    .knowMoreContentBody{
        grid-template-columns: 1fr 1fr;
    }
    .joinBody{
        flex-wrap: wrap;
    }

    .footerBody,.footerBodyTwo,.footerBodyThree{
        grid-template-columns: 1fr;

    }
    .footerLogoBlock,.footersocialBlock{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .footersocialBlockTwo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .offerContentBlock{
        padding: 4rem;
    }
    .instantContentBlock{
        padding: 4rem;
    }
    .paymentContentBlock{
        padding: 4rem;
    }
    .knowMoreBlockOne{
        padding: 1rem;
    }

    

}   

/* Medium devices (tablets, upto 768px and above) */
/* @media (width >=577px) and (width <=768px) */
@media (min-width: 577px) and (max-width: 768px) {
    /* write code here */
}

/* Large devices (Laptops, upto 992px and above) */
/* @media (width >=769px) and (width <=992px) */
@media (min-width: 769px) and (max-width: 992px) {
    /* write code here */
}

/* X-Large devices (large desktops, upto 1200px and above) */
/* @media (width >=993px) and (width <=1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
    /* write code here */
}

/* XX-Large devices (larger desktops, upto 1400px and above) */
/* @media (width >=1200px) */
@media (min-width: 1201px) {
    /* write code here */
}